<section id="portfolio">
	<div class="row ">
		<div class="twelve columns collapsed ">
			{{ page.content }}
			{% for category in page.header.categories %}
				<h2>{{ category.title }}</h2>
				<div id="portfolio-wrapper" class="bgrid-fifths s-bgrid-thirds cf">
					{% for item in category.portfolio %}
						<div class="columns portfolio-item">
							<div class="item-wrap">
								<a id="{{ item.quickLink }}" href="#modal-{{ item.quickLink }}" title="">
									{{ page.media[item.previewImg].cropZoom(215, 215).html() }}
									<div class="overlay">
										<div class="portfolio-item-meta">
											<h5>{{ item.title }}</h5>
											<p>{{ item.subtitle }}</p>
										</div>
									</div>
								</a>
							</div>
						</div>
					{% endfor %}
				</div>
			{% endfor %}
		</div>
		{% for category in page.header.categories %}
			{% for item in category.portfolio %}
				<div id="modal-{{ item.quickLink }}" class="popup-modal mfp-hide">
					<img class="scale-with-grid" src="{{ page.media[item.fullImg].url }}" alt=""/>
					<div class="description-box">
						<h3>{{ item.title }}</h3>
						<ul>
							<li class="categories">
								<i class="fa fa-bookmark"></i>
								{{ category.title }}</li>
							<li class="categories">
								<i class="fa fa-info-circle"></i>
								{{ item.subtitle }}</li>
							<li class="categories">
								<i class="fa fa-calendar"></i>
								{{ item.period }}</li>
							<li class="categories">
								<i class="fa fa-code"></i>
								{{ item.tech }}</li>
							<li class="categories">
								<i class="fa fa-users"></i>
								{{ item.team }}</li>
						</ul>
						<p>
							<i>
								<i class="fa fa-quote-left"></i>
								{{ item.quote }}
								<i class="fa fa-quote-right"></i>
							</i>
						</p>
						<p>{{ item.content }}</p>
					</div>
					<div class="link-box">
						{% if item.deploy is defined %}
							<a href="{{ item.deploy }}">Demo</a>
						{% endif %}
						{% if item.production is defined %}
							<a href="{{ item.production }}">Visit</a>
						{% endif %}
						{% if item.doc is defined %}
							<a href="{{ item.doc }}">Doc</a>
						{% endif %}
						{% if item.download is defined %}
							<a href="{{ item.download }}">Play</a>
						{% endif %}
						{% if item.repo is defined %}
							<a href="{{ item.repo }}">Github</a>
						{% endif %}
						<a class="popup-modal-dismiss">Close</a>
					</div>
				</div>
			{% endfor %}
		{% endfor %}
	</div>
</section>
